*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: url(https://fonts.gstatic.com/s/archivo/v16/k3kPo8UDI-1M0wlSV9XAw6lQkqWY8Q82sLySOxK-vA.woff2) format('woff2'); ;
}
header ul{
    list-style-type: none;
    display: flex;
}
header li a{
    list-style-type: none;
    display: flex;
    font-family: "Manjari", sans-serif;
    font-weight: 400;
    letter-spacing: 0.06em;
    color: #000;
    text-decoration: none;
}
header img{
    max-width:110px;
    width: 100%;
} 
.menu{
    gap: 30px;
}
.right{
    gap: 19px;
}
.navbar{
    min-height: 70px;
    display: flex;
    justify-content: space-between;
    padding: 0 29px;
    margin-top: 1em;
}
.nav-link{
   transition: 0.7s ease; 
}
.nav-link:hover{
    color: #555555;
    text-decoration: transparent underline;
}
.nav-menu {
    margin-top: 1em;
}
svg:hover{
    background-color: rgb(124, 124, 124);
    border-radius: 0.4em;
}
.dd{
    display: none;
}
@media(max-width:660px){
.dd {
    font-family: "Manjari", sans-serif;
    display: block;
}
.dd-btn{
   padding: 15px;
   text-align: center;
   width: auto;
   color: #000000;
}
.dd-btn:hover{
    transition: 0.7s ease;
}
.dd-content {
   width: 95%;
   box-shadow: 0 10px 3px rgba(0, 0, 0, 0.3), 0 14px 11px rgba(0, 0, 0, 0);
   height: 1px;
   transition: height 1s;
   overflow: hidden;
}
.dd:hover .dd-content {
   height: 160px;
}
.dd-content > a{
    display: block;
    padding: 15px;
    text-decoration: none;
    font-family: "Manjari", sans-serif;
    font-weight: 400;
    letter-spacing: 0.06em;
    color: #000;
}
.dd-content > a:hover{
    color: #4d4d4d;
    text-decoration:double underline;
}
    .nav-menu >.nav-item{
        display: none;
    }
}
/*  */
#first-image{
    background-image: url(./Images/Infinte-3.0-banner_1647289532687.jpg);
    max-width: 9060px;
    width: 100%;
    height: 72vh;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    margin-bottom: 3em;
}
#first-image:hover{
    opacity: 80%;
    transition: 1s;
    transition: 0.7s ease
}
@media(max-width:1000px){
    #first-image{
        background-image: url(./Images/Infinite-phone-2.0_1647289434781.jpg);
        max-width: 9060px;
        width: 100%;
        height: 72vh;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
    }
}
/* @media(max-width:880px){
    #first-image{
        background-image: url(./Images/Infinite-phone-2.0_1647289434781.jpg);
        max-width: 9060px;
        width: 100%;
        height: 72vh;
        background-position: center;
        background-size: 70em;
        background-repeat: no-repeat;
    }
}
@media(max-width:800px){
    #first-image{
        background-image: url(./Images/Infinite-phone-2.0_1647289434781.jpg);
        max-width: 9060px;
        width: 100%;
        height: 72vh;
        background-position: center;
        background-size: 64em;
        background-repeat: no-repeat;
        margin-top: -5em;
    }
}
@media(max-width:740px){
    #first-image{
        background-image: url(./Images/Infinite-phone-2.0_1647289434781.jpg);
        max-width: 9060px;
        width: 100%;
        height: 72vh;
        background-position: center;
        background-size: 57em;
        background-repeat: no-repeat;
        margin-top: -8em;
    }
}
@media(max-width:640px){
    #first-image{
        background-image: url(./Images/Infinite-phone-2.0_1647289434781.jpg);
        max-width: 9060px;
        width: 100%;
        height: 72vh;
        background-position: center;
        background-size: 52em;
        background-repeat: no-repeat;
        margin-top: -8em;
    }
}
@media(max-width:640px){
    #first-image{
        background-image: url(./Images/Infinite-phone-2.0_1647289434781.jpg);
        max-width: 9060px;
        width: 100%;
        height: 72vh;
        background-position: center;
        background-size: 48em;
        background-repeat: no-repeat;
        margin-top: -11.5em;
    }
}
@media(max-width:555px){
    #first-image{
        background-image: url(./Images/Infinite-phone-2.0_1647289434781.jpg);
        max-width: 9060px;
        width: 100%;
        height: 72vh;
        background-position: center;
        background-size: 45em;
        background-repeat: no-repeat;
    }
}
@media(max-width:510px){
    #first-image{
        background-image: url(./Images/Infinite-phone-2.0_1647289434781.jpg);
        max-width: 9060px;
        width: 100%;
        height: 72vh;
        background-position: center;
        background-size: 42.5em;
        background-repeat: no-repeat;
    }
}
@media(max-width:495px){
    #first-image{
        background-image: url(./Images/Infinite-phone-2.0_1647289434781.jpg);
        max-width: 9060px;
        width: 100%;
        height: 72vh;
        background-position: center;
        background-size: 40.5em;
        background-repeat: no-repeat;
    }
}
@media(max-width:465px){
    #first-image{
        background-image: url(./Images/Infinite-phone-2.0_1647289434781.jpg);
        max-width: 9060px;
        width: 100%;
        height: 72vh;
        background-position: center;
        background-size: 37.5em;
        background-repeat: no-repeat;
        margin-top: -15em;
    }
} */
#second-slide h3{
    font-family: "Manjari", sans-serif;
    font-weight: 400;
    letter-spacing: 0.06em;
    padding-left: 3em;
}
#second-slide ul{
    list-style-type: none;
    display: flex;
    flex-direction: row;
    cursor: pointer;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
}
#second-slide span{
    display: block;
    cursor: pointer;
    text-align: center;
    font-family: "Manjari", sans-serif;
    font-weight: 200;
    font-size: 13pt;
    letter-spacing: 0.06em;
    padding-bottom: 0.5em;
}
#second-slide span:hover{
    color: #05b0ff;
}
#second-slide h2{
    color: #05b0ff;
    text-align: center;
}
#item2, #item4, #item6, #item8 {
    display: none;
    /* margin-left: -20em; */
}
/*  */
#third-slide h3{
    font-family: "Manjari", sans-serif;
    font-weight: 400;
    letter-spacing: 0.06em;
    padding-left: 3em;
}
#third-slide ul{
    list-style-type: none;
    display: flex;
    flex-direction: row;
    cursor: pointer;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
}
#third-slide span{
    display: block;
    cursor: pointer;
    text-align: center;
    font-family: "Manjari", sans-serif;
    font-weight: 200;
    font-size: 13pt;
    letter-spacing: 0.06em;
    padding-bottom: 0.5em;
}
#third-slide span:hover{
    color: #05b0ff;
}
#third-slide h2{
    color: #05b0ff;
    text-align: center;
}
#img2 ,#img4 ,#img6 ,#img8 ,#img10 ,#img12{
    display: none;
}
/*  */
#mailing-list-img{
    background-image: url(./Images/Infinite_Mailing\ List_Banner\(Desktop\)_1623898911008.jpg);
    /* max-width: 9060px; */
    width: 100%;
    height: 72vh;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    margin-bottom: 3em;
}
@media(max-width:1120px){
    #mailing-list-img{
        background-image: url(./Images/Infinite_Mailing\ List_Banner\(Mobile\)_1623898914758.jpg);
        /* max-width: 9060px; */
        width: 100%;
        height: 72vh;
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
        margin-bottom: 3em;
    }
}
